data-view.flow
[{"id":"59ca8a9d.a31474","type":"mqtt in","z":"c9203fa7.8d00a","name":"Grid Power","topic":"grid/power","qos":"2","broker":"3256e0e9.783578","x":130,"y":140,"wires":[["3723805c.a77378"]]},{"id":"d878afde.0621a8","type":"mqtt in","z":"c9203fa7.8d00a","name":"Grid Power In","topic":"grid/power_in","qos":"2","broker":"3256e0e9.783578","x":130,"y":340,"wires":[["76e3b6a5.e1142"]]},{"id":"a1453bea.d1e738","type":"mqtt in","z":"c9203fa7.8d00a","name":"Grid Power Out","topic":"grid/power_out","qos":"2","broker":"3256e0e9.783578","x":140,"y":280,"wires":[["930b1d30.64b118"]]},{"id":"930b1d30.64b118","type":"function","z":"c9203fa7.8d00a","name":"Convert to Negative","func":"msg.payload = parseFloat(msg.payload) * -1\nif(msg.payload<0) return msg;","outputs":1,"noerr":0,"x":360,"y":280,"wires":[["76e3b6a5.e1142"]]},{"id":"79a46712.7a1e28","type":"comment","z":"c9203fa7.8d00a","name":"Grid Power Flow For Two Separate Meters for Import/Export","info":"If meter can't provide negative values, two meters are needed.","x":280,"y":200,"wires":[]},{"id":"4e7538f5.e9c758","type":"comment","z":"c9203fa7.8d00a","name":"Grid Power for Meter That Can Provide Negative Values","info":"","x":260,"y":100,"wires":[]},{"id":"3723805c.a77378","type":"function","z":"c9203fa7.8d00a","name":"Convert to Float and Save","func":"msg.payload = parseFloat(msg.payload)\nflow.set('grid_power',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":240,"wires":[[]]},{"id":"c5a7d5bc.98049","type":"function","z":"c9203fa7.8d00a","name":"Calculate Power","func":"const inverters = global.get('inverters')\nconst inverterEfficiency = 0.9 //DC to AC conversion avg efficiency (number from the manual)\nconst now = Date.now()\nconst roundToOne = n => Math.round(n*10)/10\nconst settings = global.get('settings')\nconst price = parseFloat(settings['price'])/1000\nconst cost = (w) => Math.round(price * w * 100)/100\n\n\nlet totalInverterPwr = 0\n \n\nfor(let id in inverters){\n    const inverter = inverters[id]\n    const inverterDataAge = now-inverter.lastUpdate\n    if(inverter.active==='1' || inverterDataAge < 20000){\n        totalInverterPwr += inverter.acPower\n    }\n}\n\n//totalInverterPwr = totalInverterPwr * inverterEfficiency\n\nconst unit = settings['monetary_unit']\nconst solarSaving = cost(totalInverterPwr)\n\nlet powerConsumption = 0\nconst gridPower = flow.get('grid_power')\nconst gridPowerOut = flow.get('grid_power_out')\n\nif(gridPower===0){\n    powerConsumption += gridPowerOut\n}\nelse{\n    powerConsumption += gridPower\n}\n\nconst gridCost = cost(gridPower)\n\npowerConsumption += totalInverterPwr\n\nreturn [\n    {payload: roundToOne(powerConsumption)},\n    {payload: roundToOne(gridPower>0||gridPower<0 ? gridPower : gridPowerOut),\n     topic: `${gridCost} ${unit}/h`\n    },\n    {payload: roundToOne(totalInverterPwr),\n    topic: `${solarSaving} ${unit}/h`\n    }\n];","outputs":3,"noerr":0,"x":360,"y":440,"wires":[["ced64872.cd1cb8","d87cec65.0f1e78","80fd1003.4de5e8"],["d2077417.bc4e7"],["c9ca5517.135c3","1c9db565.97b5db","2f6cceec.c2abd2"]],"outputLabels":["Power Consumption","Grid Power","Solar Power"]},{"id":"564c2ee1.6de02","type":"inject","z":"c9203fa7.8d00a","name":"Once a second","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"5","x":160,"y":440,"wires":[["c5a7d5bc.98049"]]},{"id":"ced64872.cd1cb8","type":"ui_gauge","z":"c9203fa7.8d00a","name":"Consumption","group":"905ac2ff.0ef58","order":0,"width":"4","height":"4","gtype":"gage","title":"","label":"W","format":"{{value}}","min":0,"max":"7000","colors":["#00B500","#E6E600","#CA3838"],"seg1":"2500","seg2":"5000","x":620,"y":440,"wires":[]},{"id":"d2077417.bc4e7","type":"ui_gauge","z":"c9203fa7.8d00a","name":"Grid","group":"ed849b5e.f52f18","order":0,"width":"4","height":"4","gtype":"gage","title":"{{msg.topic}}","label":"W","format":"{{value}}","min":"-7000","max":"7000","colors":["#00B500","#E6E600","#CA3838"],"seg1":"0","seg2":"4000","x":590,"y":480,"wires":[]},{"id":"c9ca5517.135c3","type":"ui_gauge","z":"c9203fa7.8d00a","name":"Solar","group":"c82bdb5e.575a48","order":0,"width":"4","height":"4","gtype":"gage","title":"{{msg.topic}}","label":"W","format":"{{value}}","min":0,"max":"2400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"800","seg2":"1600","x":590,"y":520,"wires":[]},{"id":"2e55fe05.9eff42","type":"inject","z":"c9203fa7.8d00a","name":"0","topic":"0","payload":"","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":520,"wires":[["d2077417.bc4e7"]]},{"id":"80fd1003.4de5e8","type":"function","z":"c9203fa7.8d00a","name":"Determine Power Limit","func":"const settings = global.get('settings') || {}\n\nconst inUse = settings.power_limit || \"true\"\nconst gridPower = flow.get('grid_power') || 0\nconst gridPowerOut = flow.get('grid_power_out') || 0\nlet consumptionAdjustment = context.get('consumption_adjustment') || 0\n\n//If we do not get a value for grid back feed we must adjust the assumed consumption until grid import is positive to prevent back feed.\nif(gridPower===0 && gridPowerOut===0){\n    consumptionAdjustment += 50\n}else{\n    consumptionAdjustment = 0\n}\n\nmsg.payload = msg.payload - consumptionAdjustment\nmsg.payload = msg.payload > 0 ? msg.payload : 100\n\ncontext.set('consumption_adjustment',consumptionAdjustment)\n\nif(inUse === 'true'){\n    return msg\n}","outputs":1,"noerr":0,"x":400,"y":700,"wires":[["d9e61037.044dc8"]]},{"id":"d9e61037.044dc8","type":"mqtt out","z":"c9203fa7.8d00a","name":"Power Limit","topic":"powerLimit","qos":"","retain":"","broker":"3256e0e9.783578","x":610,"y":700,"wires":[]},{"id":"3b67b34b.ca6fdc","type":"function","z":"c9203fa7.8d00a","name":"Reset Vars","func":"flow.set('grid_power',0)\nflow.set('grid_power_out',0)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":40,"wires":[["2d45912e.b14f26","c8ac256e.28e84"]]},{"id":"5acb64f3.54e54c","type":"comment","z":"c9203fa7.8d00a","name":"Settings","info":"","x":100,"y":1360,"wires":[]},{"id":"79be1519.71d61c","type":"bigmongo in","z":"c9203fa7.8d00a","service":"_ext_","configNode":"e7706f11.1fe1c","name":"Find settings","collection":"settings","operation":"find.toArray","x":130,"y":1500,"wires":[["a8e0d61d.2e94"],[]]},{"id":"431e2d3b.d5ca4c","type":"function","z":"c9203fa7.8d00a","name":"Inject {}","func":"msg.payload = {}\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":1440,"wires":[["79be1519.71d61c"]]},{"id":"a8e0d61d.2e94","type":"function","z":"c9203fa7.8d00a","name":"Read Settings","func":"\nconst associated = {}\nfor(let i in msg.payload){\n    associated[msg.payload[i].name] = msg.payload[i].value\n    \n}\nmsg.payload = associated\nglobal.set('settings',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1500,"wires":[["6dfb29e8.98dda"]]},{"id":"afc7cc3d.6377b8","type":"inject","z":"c9203fa7.8d00a","name":"At Startup","topic":"At Startup","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"3","x":130,"y":1400,"wires":[["431e2d3b.d5ca4c"]]},{"id":"6dfb29e8.98dda","type":"function","z":"c9203fa7.8d00a","name":"Init UI","func":"\nreturn [\n    {payload: msg.payload.power_limit||'1'},\n    {payload: msg.payload.price||0},\n    {payload: msg.payload.monetary_unit||''}];","outputs":3,"noerr":0,"x":490,"y":1500,"wires":[["24d93122.697cae"],["48efe88e.4904e"],["64e1dfd9.24fe4"]],"outputLabels":["Power Limit","Energy Price","Monetary Unit"]},{"id":"24d93122.697cae","type":"ui_switch","z":"c9203fa7.8d00a","name":"Prevent Grid Backfeed","label":"Prevent Grid Backfeed","group":"65998117.00a648","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"power_limit","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":700,"y":1480,"wires":[["bca167f7.83fc6"]]},{"id":"48efe88e.4904e","type":"ui_numeric","z":"c9203fa7.8d00a","name":"Price /kWh","label":"Price /kWh","group":"65998117.00a648","order":0,"width":0,"height":0,"passthru":false,"topic":"price","format":"{{value}}","min":0,"max":"100","step":"0.01","x":670,"y":1520,"wires":[["bca167f7.83fc6"]]},{"id":"64e1dfd9.24fe4","type":"ui_text_input","z":"c9203fa7.8d00a","name":"Monetary Unit","label":"Monetary Unit","group":"65998117.00a648","order":0,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"monetary_unit","x":680,"y":1560,"wires":[["bca167f7.83fc6"]]},{"id":"bca167f7.83fc6","type":"function","z":"c9203fa7.8d00a","name":"Create Query","func":"\nconst query = [\n    {'name':msg.topic},\n    {'$set': {'value': msg.payload }},\n    {'upsert': true}\n    ]\nmsg.payload = query\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1640,"wires":[["d08dae64.f8bbb8"]]},{"id":"d08dae64.f8bbb8","type":"bigmongo in","z":"c9203fa7.8d00a","service":"_ext_","configNode":"e7706f11.1fe1c","name":"Save Settings","collection":"settings","operation":"findOneAndUpdate","x":680,"y":1700,"wires":[["1be7b84f.4e773","431e2d3b.d5ca4c"],[]]},{"id":"1be7b84f.4e773","type":"debug","z":"c9203fa7.8d00a","name":"Saved Settings","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":920,"y":1700,"wires":[]},{"id":"9ca7f6f6.760ed8","type":"inject","z":"c9203fa7.8d00a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":130,"y":40,"wires":[["3b67b34b.ca6fdc"]]},{"id":"d87cec65.0f1e78","type":"mqtt out","z":"c9203fa7.8d00a","name":"Power Consumption","topic":"power_consumption","qos":"","retain":"","broker":"3256e0e9.783578","x":640,"y":580,"wires":[]},{"id":"1c9db565.97b5db","type":"mqtt out","z":"c9203fa7.8d00a","name":"Solar Power","topic":"solar_power","qos":"0","retain":"false","broker":"3256e0e9.783578","x":610,"y":640,"wires":[]},{"id":"1943b9cd.3b1256","type":"comment","z":"c9203fa7.8d00a","name":"Energy Recording","info":"","x":130,"y":720,"wires":[]},{"id":"2f74a083.c54128","type":"mqtt in","z":"c9203fa7.8d00a","name":"Solar Energy","topic":"solar/energy","qos":"2","broker":"3256e0e9.783578","x":110,"y":820,"wires":[["d277b153.799ed8","24d36248.6d8fae"]]},{"id":"776bd308.9674b4","type":"mqtt in","z":"c9203fa7.8d00a","name":"Grid Energy","topic":"grid/energy","qos":"2","broker":"3256e0e9.783578","x":110,"y":880,"wires":[["d277b153.799ed8","d0dc9272.e14538"]]},{"id":"d277b153.799ed8","type":"function","z":"c9203fa7.8d00a","name":"Save","func":"const energyThisHour = flow.get('energyThisHour') || {}\nlet floatPayload = parseFloat(msg.payload)\nfloatPayload = isNaN(floatPayload) ? energyThisHour[msg.topic] : floatPayload;\nenergyThisHour[msg.topic] = isNaN(floatPayload) ? 0 : floatPayload;\n//console.log(`payload: ${msg.payload}, float:${energyThisHour[msg.topic]}`)\nflow.set('energyThisHour',energyThisHour)\nmsg.payload = energyThisHour\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":860,"wires":[["a50563b3.df03c8"]]},{"id":"ff8deb9b.d93e38","type":"inject","z":"c9203fa7.8d00a","name":"Once per minute","topic":"Once per minute","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":960,"wires":[["d17e43d9.568e18"]]},{"id":"d17e43d9.568e18","type":"function","z":"c9203fa7.8d00a","name":"On the hour","func":"const now = new Date()\nconst m = now.getMinutes()\nif(m===0){\n    msg.payload = now.getHours()\n    return msg;\n}","outputs":1,"noerr":0,"x":340,"y":960,"wires":[["c8ac256e.28e84","d4484093.d0098","32505abc.5d87f6"]]},{"id":"c8ac256e.28e84","type":"function","z":"c9203fa7.8d00a","name":"Collect this hour","func":"const energyThisHour = flow.get('energyThisHour')\nconst energyPreviousHour = flow.get('energyPreviousHour') || {}\nconst energyToday = flow.get('energyToday') || {}\nconst copy = Object.assign({},energyThisHour)\nconst m = new Date().getMinutes().toString()\nconst h = new Date().getHours().toString()\n\n//console.log(\"Ebergy this hour\",energyThisHour)\n//console.log(\"energy prev hour\",energyPreviousHour)\n//Insert new data into the flow var\nfor(let id in energyThisHour){\n    const hourlyData = energyToday[h] || {} \n    hourlyData[id] = energyThisHour[id] - energyPreviousHour[id] || 0\n    \n    //In case the meter has been reset\n    if(hourlyData[id]<0){\n        hourlyData[id] = energyThisHour[id]\n    }\n    energyToday[h] = hourlyData\n}\nflow.set('energyToday',energyToday)\n\n\n//Create payload for bar chart\nconst series = []\nconst labels = []\nconst data = []\n\n\nfor( let seriesId in energyToday[h]){\n    series.push(seriesId)\n}\n\nfor( let seriesIdx in series ){\n    const seriesName = series[seriesIdx]\n    const thisSeriesData = []\n    data.push(thisSeriesData)\n    for( let hourNum=0; hourNum<24; hourNum++ ){\n        const hour = hourNum.toString()\n        if( typeof energyToday[hour] !== 'undefined'){\n            thisSeriesData.push(energyToday[hour][seriesName])\n        }else{\n            thisSeriesData.push(0)\n        }\n        \n    }\n}\n\nfor( let hour=0; hour<24; hour++){\n    labels.push(hour.toString())\n}\n\nmsg.payload = [\n    {\n        'series': series,\n        'data': data,\n        'labels': labels\n    }\n]\n\n//console.log(\"Chart data\",msg.payload.data)\n\nflow.set('energyPreviousHour',copy)\nreturn [msg,{payload: flow.get('energyToday')},{payload: flow.get('energyPreviousHour')},{payload: flow.get('energyThisHour')}];","outputs":4,"noerr":0,"x":880,"y":940,"wires":[["22146399.1eb0bc","11fc9247.f3fb2e","6aab86f3.bb2ee"],["6d27829d.33c3a4"],["931c9ec4.f63e2"],["3a4e63de.fa77dc"]],"outputLabels":["chart data","hourly_totals","previous_hour","this_hour"]},{"id":"d4484093.d0098","type":"debug","z":"c9203fa7.8d00a","name":"On the hour","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":880,"wires":[]},{"id":"22146399.1eb0bc","type":"debug","z":"c9203fa7.8d00a","name":"Chart data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1130,"y":860,"wires":[]},{"id":"ab858a52.7efd68","type":"comment","z":"c9203fa7.8d00a","name":"Testing","info":"","x":90,"y":1800,"wires":[]},{"id":"10d039a4.4d4976","type":"inject","z":"c9203fa7.8d00a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1880,"wires":[["bb3e49e8.ca2dc"]]},{"id":"bb3e49e8.ca2dc","type":"function","z":"c9203fa7.8d00a","name":"Check inverter energy","func":"const energyThisHour = flow.get('energyThisHour')\nmsg.payload = energyThisHour['solar/energy']\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1880,"wires":[["df5ce1a0.c05828"]]},{"id":"df5ce1a0.c05828","type":"debug","z":"c9203fa7.8d00a","name":"Inverter Energy","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":540,"y":1880,"wires":[]},{"id":"24d36248.6d8fae","type":"debug","z":"c9203fa7.8d00a","name":"Solar/energy","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":820,"wires":[]},{"id":"54f23e02.37039","type":"mqtt in","z":"c9203fa7.8d00a","name":"Metered Solar Energy","topic":"solar/energy_metered","qos":"2","broker":"3256e0e9.783578","x":140,"y":760,"wires":[["d277b153.799ed8"]]},{"id":"11fc9247.f3fb2e","type":"ui_chart","z":"c9203fa7.8d00a","name":"Energy Today","group":"e3ca8497.c4aac8","order":0,"width":0,"height":0,"label":"24h Avg kW/h","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#2ca02c","#98df8a","#666666","#ff9896","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1140,"y":900,"wires":[[],[]]},{"id":"ecd1a7ba.2425b8","type":"inject","z":"c9203fa7.8d00a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1000,"wires":[["c8ac256e.28e84"]]},{"id":"1b5ba049.11cc9","type":"inject","z":"c9203fa7.8d00a","name":"","topic":"Inject time","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":1060,"wires":[["6ee31741.bdef58"]]},{"id":"6ee31741.bdef58","type":"function","z":"c9203fa7.8d00a","name":"Get Hour","func":"const now = new Date()\nmsg.payload = now.getHours()\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":1060,"wires":[["32505abc.5d87f6"]]},{"id":"e9288398.c25ed8","type":"ui_template","z":"c9203fa7.8d00a","group":"e3ca8497.c4aac8","name":"Time","order":0,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"start center\">\n  <div style=\"width: 28px; height: 20px\">\n      \n  </div>\n  <div style=\"width: 100%\">\n      <div style=\"positon: relative; background-color: rgba(176, 186, 156, 0.0); z-index: -100; height:317px; float: left; margin-top: -357px; width:{{ msg.payload }}%\"></div>\n      <div style=\"positon: relative; background-color: rgba(176, 186, 156, 0.4); height:317px; float: right; margin-top: -357px; width:{{ 100-msg.payload }}%\"></div>\n  </div>\n  \n</div>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":730,"y":1140,"wires":[[]]},{"id":"a8a52db3.6bab","type":"debug","z":"c9203fa7.8d00a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":1920,"wires":[]},{"id":"32505abc.5d87f6","type":"function","z":"c9203fa7.8d00a","name":"Percentage","func":"msg.payload = Math.round((msg.payload+1)/24*100)\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1140,"wires":[["e9288398.c25ed8"]]},{"id":"929510eb.db77d8","type":"function","z":"c9203fa7.8d00a","name":"Reset 24h Energy Totalizer","func":"flow.set('energyToday',{})\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1920,"wires":[["a8a52db3.6bab"]]},{"id":"54786351.f3ab3c","type":"inject","z":"c9203fa7.8d00a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1920,"wires":[["929510eb.db77d8"]]},{"id":"6aab86f3.bb2ee","type":"function","z":"c9203fa7.8d00a","name":"Collect Day","func":"const energyToday = flow.get('energyToday') || {}\nconst m = new Date().getMinutes().toString()\nlet hourNow = new Date().getHours()\n\nhourNow = hourNow===0 ? 24 : hourNow\n\nconst dayTotals = {}\n\nlet cont = true\nlet hour = 0\nwhile(cont){\n    if( hour<=hourNow){\n        if( typeof energyToday[hour.toString()] !== 'undefined' ){\n            for( let id in energyToday[hour.toString()] ){\n                \n                const reading = parseFloat(energyToday[hour.toString()][id])\n                const energy =  isNaN(reading) ? 0 : reading\n                dayTotals[id] = energy + dayTotals[id] || 0\n                \n            }\n        }\n        \n    }else{\n        cont = false\n    }\n    \n    \n    hour += 1\n}\nmsg.payload = dayTotals\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1080,"wires":[["31206390.111124","c9fa79c6.540468"]]},{"id":"31206390.111124","type":"debug","z":"c9203fa7.8d00a","name":"Day Totals","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1290,"y":1080,"wires":[]},{"id":"2cc9637b.5c35a4","type":"inject","z":"c9203fa7.8d00a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":1080,"wires":[["6aab86f3.bb2ee"]]},{"id":"d9f6df02.27766","type":"function","z":"c9203fa7.8d00a","name":"Create Query","func":"const data = msg.payload\ndata.timestamp = new Date()\nmsg.payload = [data]\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":1140,"wires":[["ca042e60.160218"]]},{"id":"ca042e60.160218","type":"bigmongo in","z":"c9203fa7.8d00a","service":"_ext_","configNode":"e7706f11.1fe1c","name":"Save Daily Energy","collection":"energy","operation":"insertOne","x":1690,"y":1100,"wires":[["e14a945e.c87a2","2d45912e.b14f26"],[]]},{"id":"c9fa79c6.540468","type":"function","z":"c9203fa7.8d00a","name":"After Midnight","func":"const hourNow = new Date().getHours()\nif(hourNow===0){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1300,"y":1140,"wires":[["d9f6df02.27766"]]},{"id":"e14a945e.c87a2","type":"debug","z":"c9203fa7.8d00a","name":"Mongo DB Return ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1920,"y":1100,"wires":[]},{"id":"d0dc9272.e14538","type":"debug","z":"c9203fa7.8d00a","name":"Grid/energy","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":780,"wires":[]},{"id":"d2390531.ad904","type":"bigmongo in","z":"c9203fa7.8d00a","service":"_ext_","configNode":"e7706f11.1fe1c","name":"Load Daily Energy","collection":"energy","operation":"find.toArray","x":1570,"y":640,"wires":[["c3770e7e.a8e51","ae5c2fea.7d2c7"],[]]},{"id":"2d45912e.b14f26","type":"function","z":"c9203fa7.8d00a","name":"Inject Dates","func":"const endDate = new Date()\nconst startDate = new Date()\nstartDate.setDate(startDate.getDate() - 30)\n\n\nmsg.payload = {\n    timestamp: {\n        $gte: startDate,\n        $lt: endDate\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":640,"wires":[["d2390531.ad904","7c93f38d.06b99c"]]},{"id":"239e8ff5.6d50f","type":"debug","z":"c9203fa7.8d00a","name":"Energy Collected","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2070,"y":640,"wires":[]},{"id":"c089ea5e.53c108","type":"inject","z":"c9203fa7.8d00a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1160,"y":640,"wires":[["2d45912e.b14f26"]]},{"id":"7c93f38d.06b99c","type":"debug","z":"c9203fa7.8d00a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1550,"y":700,"wires":[]},{"id":"c3770e7e.a8e51","type":"function","z":"c9203fa7.8d00a","name":"Create collection","func":"const days = msg.payload\n\nif(!Array.isArray(days)){\n    return\n}\n\nconst numdays = days.length\n\n//Create payload for bar chart\nconst series = []\nconst labels = []\nconst data = []\nconst seriesAssociative = {}\n\nfor( let i in days ){\n    const data = days[i]\n    for(let key in data){\n        if( key !== 'timestamp' && key !== '_id')\n        seriesAssociative[key] = 1\n    }\n}\n\nfor(let seriesKey in seriesAssociative){\n    series.push(seriesKey)\n    const thisSeriesData = [] \n    data.push(thisSeriesData)\n    for(let d in days){\n        const thisDaySeriesData = days[d][seriesKey]\n        if(thisDaySeriesData){\n            thisSeriesData.push(thisDaySeriesData)\n        }else{\n            thisSeriesData.push(0)\n        }\n        \n    }\n}\n\nconst reverseDates = []\nconst date = new Date()\ndate.setDate(date.getDate() - numdays)\nfor(let n=0; n<numdays; n++){\n    reverseDates.push(date.getDate().toString())\n    date.setDate(date.getDate() + 1)\n}\n\nfor(let n=0; n<numdays; n++){\n    labels.push(reverseDates[n])\n}\n\nmsg.payload = [\n    {\n        'series': series,\n        'data': data,\n        'labels': labels\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"x":1820,"y":640,"wires":[["239e8ff5.6d50f","d15c9bf8.faca88"]]},{"id":"d15c9bf8.faca88","type":"ui_chart","z":"c9203fa7.8d00a","name":"","group":"e3ca8497.c4aac8","order":0,"width":0,"height":0,"label":"Past 30 days kWh/day","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#FF7F0E","#FF7F0E","#1F77B4","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":2080,"y":700,"wires":[[],[]]},{"id":"7146e642.322b5","type":"persist out","z":"c9203fa7.8d00a","name":"this_hour","storageNode":"713680c7.a7fe8","x":580,"y":40,"wires":[["8eaa7a2a.a8b6b"]]},{"id":"8eaa7a2a.a8b6b","type":"function","z":"c9203fa7.8d00a","name":"Restore energy totalizer","func":"flow.set('energyThisHour',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":40,"wires":[["7d97e0ad.b01fc8"]]},{"id":"d6ce94d0.6efc98","type":"persist out","z":"c9203fa7.8d00a","name":"hourly_totals","storageNode":"713680c7.a7fe8","x":590,"y":80,"wires":[["225b186d.ae9348"]]},{"id":"3618ef94.99bb6","type":"persist out","z":"c9203fa7.8d00a","name":"previous_hour","storageNode":"713680c7.a7fe8","x":600,"y":120,"wires":[["7584d57e.863ad4"]]},{"id":"225b186d.ae9348","type":"function","z":"c9203fa7.8d00a","name":"Restore Daily Totalizer","func":"flow.set('energyToday',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":80,"wires":[["48aae2f7.36363c"]]},{"id":"7584d57e.863ad4","type":"function","z":"c9203fa7.8d00a","name":"Restore Previous Hour","func":"flow.set('energyPreviousHour',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":120,"wires":[["ebd67f4a.cab0f"]]},{"id":"7d97e0ad.b01fc8","type":"debug","z":"c9203fa7.8d00a","name":"This_hour","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1100,"y":40,"wires":[]},{"id":"48aae2f7.36363c","type":"debug","z":"c9203fa7.8d00a","name":"Hourly totals","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":80,"wires":[]},{"id":"ebd67f4a.cab0f","type":"debug","z":"c9203fa7.8d00a","name":"Previous hour","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1120,"y":120,"wires":[]},{"id":"6d27829d.33c3a4","type":"persist in","z":"c9203fa7.8d00a","name":"hourly_totals","storageNode":"713680c7.a7fe8","x":1130,"y":940,"wires":[]},{"id":"931c9ec4.f63e2","type":"persist in","z":"c9203fa7.8d00a","name":"previous_hour","storageNode":"713680c7.a7fe8","x":1140,"y":980,"wires":[]},{"id":"3a4e63de.fa77dc","type":"persist in","z":"c9203fa7.8d00a","name":"this_hour","storageNode":"713680c7.a7fe8","x":1120,"y":1020,"wires":[]},{"id":"a50563b3.df03c8","type":"persist in","z":"c9203fa7.8d00a","name":"this_hour","storageNode":"713680c7.a7fe8","x":540,"y":860,"wires":[]},{"id":"f057d3f6.4a77c","type":"comment","z":"c9203fa7.8d00a","name":"Draw 30-day graph","info":"","x":1170,"y":580,"wires":[]},{"id":"ae5c2fea.7d2c7","type":"debug","z":"c9203fa7.8d00a","name":"Daily Energy Collection","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1820,"y":600,"wires":[]},{"id":"30cc665b.e48daa","type":"comment","z":"c9203fa7.8d00a","name":"Draw monthly graphs","info":"","x":1180,"y":260,"wires":[]},{"id":"c171adde.a4e0f","type":"function","z":"c9203fa7.8d00a","name":"Inject Dates","func":"\n\nmsg.payload = {\n    //All data\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":340,"wires":[["973061c.b1892a"]]},{"id":"973061c.b1892a","type":"bigmongo in","z":"c9203fa7.8d00a","service":"_ext_","configNode":"e7706f11.1fe1c","name":"Load All Energy","collection":"energy","operation":"find.toArray","x":1580,"y":340,"wires":[["8c30e0fc.478e9","cf4b63d7.cb43e8"],[]]},{"id":"8c30e0fc.478e9","type":"function","z":"c9203fa7.8d00a","name":"Create Collection","func":"const days = msg.payload\nconst optimalProduction = [79,71,79,82,87,85,113,104,100,115,103,98]\nconst statisticalProduction = [65,64,75,83,92,93,121,107,96,101,84,78]\nif(!Array.isArray(days)){\n    return\n}\n\nconst numdays = days.length\n\n//Create payload for bar chart\nconst series = [\"Target\",\"Optimal\"]\nconst labels = [\"Jan\",\"Feb\",\"Mar\",\"Apr\",\"May\",\"Jun\",\"Jul\",\"Aug\",\"Sep\",\"Oct\",\"Nov\",\"Dec\"]\nconst data = [statisticalProduction,optimalProduction]\nconst seriesAssociative = {}\nconst key = \"solar/energy\"\n\n\n\nlet previousMonth = \"\"\nlet previousYear = \"\"\nfor(let d in days){\n    let timestamp = days[d]['timestamp']\n    let monthForThisDay = timestamp.toISOString().substring(0,7)\n    let yearForThisDay = timestamp.toISOString().substring(0,4)\n    \n    if(monthForThisDay!=previousMonth){\n        previousMonth = monthForThisDay\n    }\n    \n    if(yearForThisDay!=previousYear){\n        seriesAssociative[yearForThisDay] = 1\n        previousYear = yearForThisDay\n        series.push(yearForThisDay)\n        data.push([0,0,0,0,0,0,0,0,0,0,0,0])\n    }\n    \n    const thisYearSeriesData = data[data.length-1]\n    \n    thisYearSeriesData[timestamp.getMonth()] += (days[d][key] || 0)\n    \n    \n}\n\n\nmsg.payload = [\n    {\n        'series': series,\n        'data': data,\n        'labels': labels\n    }\n]\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1840,"y":340,"wires":[["f428a168.e30f7","e79a6d0d.67ef3"]]},{"id":"f428a168.e30f7","type":"debug","z":"c9203fa7.8d00a","name":"Number of All Hours","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2080,"y":340,"wires":[]},{"id":"13f8d6c7.363b69","type":"inject","z":"c9203fa7.8d00a","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":"5","x":1150,"y":340,"wires":[["c171adde.a4e0f"]]},{"id":"e79a6d0d.67ef3","type":"ui_chart","z":"c9203fa7.8d00a","name":"","group":"e3ca8497.c4aac8","order":0,"width":0,"height":0,"label":"Monthly Solar Production (kWh)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#BFC4CA","#5D5E61","#CF7F00","#BF7F00","#AF7F00","#AF8F00","#AF9F00","#AFAF00","#AFBF00"],"useOldStyle":false,"x":2110,"y":400,"wires":[[],[]]},{"id":"cf4b63d7.cb43e8","type":"function","z":"c9203fa7.8d00a","name":"Create Collection","func":"const days = msg.payload\n\nif(!Array.isArray(days)){\n    return\n}\n\nconst numdays = days.length\n\n//Create payload for bar chart\nconst series = []\nconst labels = [\"Jan\",\"Feb\",\"Mar\",\"Apr\",\"May\",\"Jun\",\"Jul\",\"Aug\",\"Sep\",\"Oct\",\"Nov\",\"Dec\"]\nconst data = []\nconst seriesAssociative = {}\nconst keys = [\"solar/energy_metered\",\"grid/energy\"]\nconst reducer = (accumulator, currentValue) => accumulator + currentValue;\n\n\nlet previousMonth = \"\"\nlet previousYear = \"\"\nfor(let d in days){\n    let timestamp = days[d]['timestamp']\n    let monthForThisDay = timestamp.toISOString().substring(0,7)\n    let yearForThisDay = timestamp.toISOString().substring(0,4)\n    \n    if(monthForThisDay!=previousMonth){\n        previousMonth = monthForThisDay\n    }\n    \n    if(yearForThisDay!=previousYear){\n        seriesAssociative[yearForThisDay] = 1\n        previousYear = yearForThisDay\n        series.push(yearForThisDay)\n        data.push([0,0,0,0,0,0,0,0,0,0,0,0])\n    }\n    \n    const thisYearSeriesData = data[data.length-1]\n    \n    thisYearSeriesData[timestamp.getMonth()] += \n    keys.reduce( (tot,key) => (days[d][key]||0) + tot, 0 )\n\n}\n\n\nmsg.payload = [\n    {\n        'series': series,\n        'data': data,\n        'labels': labels\n    }\n]\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":480,"wires":[["b6476303.89ba6","a829d021.5521a8"]]},{"id":"b6476303.89ba6","type":"debug","z":"c9203fa7.8d00a","name":"Number of All Hours","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2080,"y":480,"wires":[]},{"id":"a829d021.5521a8","type":"ui_chart","z":"c9203fa7.8d00a","name":"","group":"e3ca8497.c4aac8","order":0,"width":0,"height":0,"label":"Monthly Consumption (kWh)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#FF7F0E","#DF7F00","#CF7F00","#BF7F00","#AF7F00","#AF8F00","#AF9F00","#AFAF00","#AFBF00"],"useOldStyle":false,"x":2100,"y":540,"wires":[[],[]]},{"id":"76e3b6a5.e1142","type":"mqtt out","z":"c9203fa7.8d00a","name":"Grid Power","topic":"grid/power","qos":"","retain":"","broker":"3256e0e9.783578","x":650,"y":280,"wires":[]},{"id":"2f6cceec.c2abd2","type":"mqtt out","z":"c9203fa7.8d00a","name":"","topic":"solar/power","qos":"","retain":"","broker":"3256e0e9.783578","x":790,"y":640,"wires":[]},{"id":"3256e0e9.783578","type":"mqtt-broker","z":"","name":"local_mqtt","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"905ac2ff.0ef58","type":"ui_group","z":"","name":"Consumption","tab":"8429fd02.33cd9","disp":true,"width":"4","collapse":false},{"id":"ed849b5e.f52f18","type":"ui_group","z":"","name":"Grid","tab":"8429fd02.33cd9","disp":true,"width":"4","collapse":false},{"id":"c82bdb5e.575a48","type":"ui_group","z":"","name":"Solar","tab":"8429fd02.33cd9","disp":true,"width":"4","collapse":false},{"id":"e7706f11.1fe1c","type":"bigmongo","z":"","uri":"mongodb://localhost:27017/solar","name":"solar","options":"","parallelism":"-1","warncodes":"","ignoredcodes":""},{"id":"65998117.00a648","type":"ui_group","z":"","name":"Configuration","tab":"d6c85b96.d8e1f","disp":true,"width":"6","collapse":true},{"id":"e3ca8497.c4aac8","type":"ui_group","z":"","name":"Energy Summary","tab":"b5367a4c.cc5678","order":4,"disp":true,"width":"12","collapse":false},{"id":"713680c7.a7fe8","type":"persist-store","z":"","filename":"/etc/nodered-persist.json","interval":"60"},{"id":"8429fd02.33cd9","type":"ui_tab","z":"","name":"Instant Power","icon":"dashboard","order":1},{"id":"d6c85b96.d8e1f","type":"ui_tab","z":"","name":"Configuration","icon":"dashboard","order":5},{"id":"b5367a4c.cc5678","type":"ui_tab","z":"","name":"Energy Summary","icon":"dashboard","order":2}]
