wvc-inverter-monitor.flow
[{"id":"4a7b5f1c.08e2d8","type":"ui_dropdown","z":"5ba2fca6.c16fbc","name":"Model","label":"","place":"Select model...","group":"7b515734.43c238","order":2,"width":"4","height":"1","passthru":true,"options":[{"label":"WVC295","value":"295","type":"str"},{"label":"WVC300","value":"300","type":"str"},{"label":"WVC350","value":"350","type":"str"},{"label":"WVC600","value":"600","type":"str"},{"label":"WVC800","value":"800","type":"str"},{"label":"WVC1200","value":"1200","type":"str"}],"payload":"","topic":"","x":210,"y":320,"wires":[["f3fa40a1.3dce4"]]},{"id":"5e3dcb7a.8acc14","type":"ui_button","z":"5ba2fca6.c16fbc","name":"","group":"7b515734.43c238","order":4,"width":"4","height":"1","passthru":false,"label":"Add","color":"","bgcolor":"","icon":"","payload":"add","payloadType":"str","topic":"","x":210,"y":400,"wires":[["dd732b02.63b52"]]},{"id":"cfc12bb2.876408","type":"ui_text","z":"5ba2fca6.c16fbc","group":"7b515734.43c238","order":1,"width":"12","height":"1","name":"","label":"Add Inverter","format":"{{msg.payload}}","layout":"row-spread","x":230,"y":280,"wires":[]},{"id":"38016b39.697624","type":"function","z":"5ba2fca6.c16fbc","name":"Get ID","func":"const str = msg.payload\nconst match = str.match(/[0-9A-Fa-f]{4}/)\nif(match && match[0] ){\n    flow.set('new_id',match[0].toLowerCase())\n    msg.payload = \"\"\n}else{\n    msg.payload = \"Inverter ID incorrect format.\"\n}\nreturn msg","outputs":1,"noerr":0,"x":390,"y":360,"wires":[["16565688.ecc9c9"]]},{"id":"f3fa40a1.3dce4","type":"function","z":"5ba2fca6.c16fbc","name":"Get Model","func":"flow.set('new_model',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[[]]},{"id":"dd732b02.63b52","type":"function","z":"5ba2fca6.c16fbc","name":"Save","func":"const flow_id = flow.get('new_id')\nconst new_model = flow.get('new_model')\nlet message = \"Saved inverter!\"\nconst new_id = flow_id.substring(0,2) + ' ' + flow_id.substring(2,4)\nif(new_model && new_id){\n    msg.topic = \"inverters\"\n    msg.payload = {\n        id: new_id,\n        model: new_model\n    }\n    flow.set('new_id',null)\n    flow.set('new_model',null)\n    return [msg,{payload: message}]\n}else{\n    message = \"\"\n    if(!new_id){\n        message += \" Inverter id missing.\"\n    }\n    if(!new_model){\n        message += \" Model missing.\"\n    }\n    msg.payload = null\n    return [msg,{payload: message}]\n}\n","outputs":2,"noerr":0,"x":390,"y":400,"wires":[["82303b2e.560988","9a1e95b9.9b319"],["16565688.ecc9c9"]]},{"id":"82303b2e.560988","type":"function","z":"5ba2fca6.c16fbc","name":"Reset","func":"if(msg.payload){\n    msg.payload = \"\"\n    return msg;\n}","outputs":1,"noerr":0,"x":210,"y":480,"wires":[["a5d0627a.524ac8","16565688.ecc9c9"]]},{"id":"a5d0627a.524ac8","type":"ui_text_input","z":"5ba2fca6.c16fbc","name":"","label":"Inverter ID","group":"7b515734.43c238","order":3,"width":"4","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":230,"y":360,"wires":[["38016b39.697624"]]},{"id":"9a1e95b9.9b319","type":"bigmongo in","z":"5ba2fca6.c16fbc","service":"_ext_","configNode":"e7706f11.1fe1c","name":"Save to db","collection":"inverters","operation":"insertOne","x":610,"y":400,"wires":[["88545a00.44b0f8","a5f8b4a6.27e13"],[]]},{"id":"16565688.ecc9c9","type":"ui_text","z":"5ba2fca6.c16fbc","group":"7b515734.43c238","order":0,"width":"12","height":"1","name":"Status","label":"","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":480,"wires":[]},{"id":"f4534cd6.5c075","type":"bigmongo in","z":"5ba2fca6.c16fbc","service":"_ext_","configNode":"e7706f11.1fe1c","name":"Find inverters","collection":"inverters","operation":"find.toArray","x":420,"y":160,"wires":[["b450a48.dd24758"],[]]},{"id":"c4ace16c.afedf","type":"inject","z":"5ba2fca6.c16fbc","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":160,"wires":[["f4534cd6.5c075"]]},{"id":"b450a48.dd24758","type":"function","z":"5ba2fca6.c16fbc","name":"Set global","func":"const arr = msg.payload\nconst associated = {}\nconst existingInverters = global.get('inverters')\n//Clean up duplicates\nfor( let n in arr ){\n    const el = arr[n]\n    console.log(\"el:\", el)\n    associated[el.id] = el\n}\n\nconst cleanedArr = Object.getOwnPropertyNames(associated).map( n => associated[n] )\n//Copy over data from the existing global inverters\nfor( let n in cleanedArr){\n    const inv = cleanedArr[n]\n    associated[inv.id] = Object.assign(associated[inv.id],existingInverters[inv.id])\n}\nglobal.set('inverters',associated)\n\nif(cleanedArr.length !== arr.length){\n    msg.payload = \"...\"\n    return msg\n}\n\n//If we have a list with no duplicates\n\n\nmsg.payload = arr\nreturn msg\n\n","outputs":1,"noerr":0,"x":220,"y":220,"wires":[["90cc0e0e.9409d"]]},{"id":"c6da123d.3d7a3","type":"bigmongo in","z":"5ba2fca6.c16fbc","service":"_ext_","configNode":"e7706f11.1fe1c","name":"Save array","collection":"inverters","operation":"insertMany","x":1070,"y":220,"wires":[["a7d6b316.151298","a5f8b4a6.27e13"],[]]},{"id":"aa5dd242.00c048","type":"bigmongo in","z":"5ba2fca6.c16fbc","service":"_ext_","configNode":"e7706f11.1fe1c","name":"Drop collection","collection":"inverters","operation":"drop","x":680,"y":220,"wires":[["86c18a5e.55aa2"],[]]},{"id":"86c18a5e.55aa2","type":"function","z":"5ba2fca6.c16fbc","name":"Inject inverters","func":"const inverters = global.get('inverters')\n//Embed in an array, otherwise the inverter array will be split up in arguments for the insert function.\nmsg.payload = [inverters]\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":220,"wires":[["c6da123d.3d7a3"]]},{"id":"a7d6b316.151298","type":"debug","z":"5ba2fca6.c16fbc","name":"Array Saved","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1270,"y":220,"wires":[]},{"id":"88545a00.44b0f8","type":"debug","z":"5ba2fca6.c16fbc","name":"Save","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":480,"wires":[]},{"id":"90cc0e0e.9409d","type":"switch","z":"5ba2fca6.c16fbc","name":"DB Reload Check","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"string","vt":"string"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":220,"wires":[["aa5dd242.00c048"],["c57da372.ee8ff8"]]},{"id":"c57da372.ee8ff8","type":"ui_template","z":"5ba2fca6.c16fbc","group":"7b515734.43c238","name":"Inverter List","order":0,"width":0,"height":0,"format":"<div class=\"inverter-list\">\n<div layout=\"row\" layout-align=\"start center\">\n  <span flex>ID</span>\n  <span flex>Model</span>\n  <span flex>Lim</span>\n  <span flex>Pwr</span>\n  <span flex>DC Voltage</span>\n  <span flex>AC Voltage</span>\n  <span flex>Temp</span>\n  <span flex>&nbsp;</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"inverter in msg.payload\">\n  <span flex style=\"color: {{inverter.active==='1' ? 'green' : 'red'}}\">{{inverter.id}}{{inverter.fake ? 'Fake' : '' }}</span>\n  <span flex style=\"color: #111111\">{{inverter.model}}</span>\n  <span flex style=\"color: #111111\">{{inverter.powerGrade===100 ? '' : inverter.powerGrade/100*inverter.model+'W'}}</span>\n  <span flex style=\"color: #111111\">{{inverter.active==='1' ? inverter.dcPower : '--' }}W</span>\n  <span flex style=\"color: #111111\">{{inverter.active==='1' ? inverter.dcVoltage : '--' }}V</span>\n  <span flex style=\"color: #111111\">{{inverter.active==='1' ? inverter.acVoltage : '--' }}V</span>\n  <span flex style=\"color: #111111\">{{inverter.active==='1' ? inverter.temperature : '--' }}&deg;C</span>\n  <span flex>\n      <md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:rgba(192, 0, 0, 0.61); font-weight: bolder;\" ng-click=\"send({payload: {_id : inverter._id}})\">\n\n\n        X\n\n      </md-button>\n  </span>\n</div>\n</div>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":670,"y":280,"wires":[["3c18cf4f.5588c8"]]},{"id":"a5f8b4a6.27e13","type":"function","z":"5ba2fca6.c16fbc","name":"Inject {}","func":"console.log(\"Saved:\",msg)\nmsg.payload = {}\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":400,"wires":[["f4534cd6.5c075"]]},{"id":"33a0b5f0.a8030a","type":"function","z":"5ba2fca6.c16fbc","name":"Make query","func":"if(!Array.isArray(msg.payload)){\n    console.log(\"Deleting id:\",msg.payload)\n    msg.payload = {'_id':  msg.payload._id }\n    return msg;\n}","outputs":1,"noerr":0,"x":1010,"y":280,"wires":[["8652ea85.b5697"]]},{"id":"8652ea85.b5697","type":"bigmongo in","z":"5ba2fca6.c16fbc","service":"_ext_","configNode":"e7706f11.1fe1c","name":"Delete object","collection":"inverters","operation":"deleteOne","x":1190,"y":280,"wires":[["a5f8b4a6.27e13"],[]]},{"id":"3c18cf4f.5588c8","type":"objectid","z":"5ba2fca6.c16fbc","name":"Make id","selectedProperty":"_id","x":860,"y":280,"wires":[["33a0b5f0.a8030a"]]},{"id":"cc923b69.f28cf","type":"mqtt in","z":"5ba2fca6.c16fbc","name":"Inverter MQTT","topic":"modems/+/inverters/#","qos":"2","broker":"3256e0e9.783578","x":230,"y":600,"wires":[["22daea53.cc5306"]]},{"id":"22daea53.cc5306","type":"function","z":"5ba2fca6.c16fbc","name":"Parse MQTT","func":"const topicParts = msg.topic.split(\"/\")\nconst spacedHex = (unspaced) => unspaced.split(/(?=(?:..)*$)/).join(' ')\n\n\nif(topicParts.length===5){\n    const [modemsTopic,modemId,invertersTopic,inverterId,value] = topicParts\n    const spacedInverterId = spacedHex(inverterId)\n    const inverter = global.get(\"inverters\")[spacedInverterId]\n    \n    if(inverter){\n        if(value==='dcPower')\n            inverter.lastUpdate = Date.now()\n        \n        if(value!=='active')\n            inverter[value] = Math.round(parseFloat(msg.payload)*10)/10\n        else\n            inverter[value] = msg.payload\n            \n        msg.payload = global.get(\"inverters\")\n        return msg\n    }\n    \n}\n\n","outputs":1,"noerr":0,"x":440,"y":600,"wires":[["c57da372.ee8ff8"]]},{"id":"7dab7aee.f46064","type":"ui_template","z":"5ba2fca6.c16fbc","group":"f01a36c8.66f9b","name":"Header","order":0,"width":0,"height":0,"format":"<style>\n\n    body.nr-dashboard-theme{\n        background-image: linear-gradient(to bottom right, #FDFDFF, #C3D0D8);\n    }\n    \n    .nr-dashboard-cardcontainer>.visible{\n        overflow: visible;\n    }\n    \n    .md-toolbar-tools{\n        background-image: url('/img/logo.png');\n        background-size: auto 175%;\n        background-repeat: no-repeat;\n        background-position: right -25px;\n        margin-left: -7px;\n        height: 100px;\n    }\n    \n    .md-toolbar-tools h1{\n        color: #1f2954;\n    }\n    \n    ng-md-icon{\n        color: #1f2954;\n    }\n    \n    .nr-dashboard-theme ui-card-panel{\n        background-color: rgba(0, 0, 0, 0);\n        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);\n    }\n    \n    body.nr-dashboard-theme md-content md-card{\n        background-color: rgba(197, 197, 212, 0.15);\n    }\n    \n    #WVC_Inverter_Control_Micro_Inverters .nr-dashboard-template {\n        height: auto!important;\n    }\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":220,"y":80,"wires":[[]]},{"id":"7b515734.43c238","type":"ui_group","z":"","name":"Micro Inverters","tab":"b4280182.3801e","disp":true,"width":"12","collapse":false},{"id":"e7706f11.1fe1c","type":"bigmongo","z":"","uri":"mongodb://localhost:27017/solar","name":"solar","options":"","parallelism":"-1","warncodes":"","ignoredcodes":""},{"id":"3256e0e9.783578","type":"mqtt-broker","z":"","name":"local_mqtt","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"f01a36c8.66f9b","type":"ui_group","z":"","name":"Solar Power Plant Status","tab":"4419e762.4f55a","order":1,"disp":true,"width":"12","collapse":false},{"id":"b4280182.3801e","type":"ui_tab","z":"","name":"WVC Inverter Control","icon":"dashboard","order":4},{"id":"4419e762.4f55a","type":"ui_tab","z":"","name":"Power Flow","icon":"dashboard","order":3}]